extends _layout

block variables
  - var title = "Docket | Your Notes, Organized"

block content
    div(class='main-container')
        section(class="content-container")
            h1(class="content-title") Docket API
            p(class="content-body")
                | A robust RESTful API developed with Node.js and Express.js that provides comprehensive functionalities for managing
                | notes. It includes user authentication with JSON Web Tokens (JWT) for secure login and registration, and utilizes
                | MongoDB for reliable data storage and retrieval. This backend service supports CRUD operations for notes and ensures
                | data integrity and security.