.main-container {
  @apply px-4 md:px-8 lg:px-16 py-4 lg:py-6 flex-1 space-y-5 md:space-y-10 overflow-x-hidden;

  &::-webkit-scrollbar {
    @apply w-1;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-dark dark:bg-light rounded-full;
  }
}

.note-title,
.note-message {
  @apply w-full outline-none bg-transparent text-responsive focus:placeholder:text-transparent;
}

.note-message {
  &::-webkit-scrollbar {
    @apply w-1;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-dark dark:bg-light rounded-full;
  }
}

.error-message {
  @apply text-red-600 dark:text-red-500 font-medium;
}


.input-container {
  @apply space-y-1.5;

  input {
    @apply bg-gray-50 border-2 border-gray-300 text-responsive rounded-md block w-full px-3 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:border-gray-300 focus:border-gray-700 outline-none shadow-sm font-medium focus:placeholder:text-transparent;
  }

  label {
    @apply text-responsive mb-2 font-medium;
  }
}

.btn {
  @apply p-2 inline-block border-2 shadow-sm text-xl rounded-md dark:border-grey dark:hover:border-light text-responsive hover:border-gray-700 font-medium disabled:opacity-80 disabled:bg-gray-200 disabled:border-transparent dark:disabled:bg-gray-700 disabled:cursor-not-allowed hover:-translate-y-1;
}

.error-btn {
  @apply btn dark:border-red-300 text-red-600 hover:border-red-600 ;
}

.sidebar-btn {
  @apply bg-dark text-light text-lg sm:text-2xl p-2 rounded-full shadow-sm border-2 border-light dark:border-grey;
}